{% extends "base.html" %}
{% block content %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="container mt-3">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}<br>

  <h2> Add Book </h2>
  <form action="/add_book" method="POST">
    <label for="title">Book title:</label>
    <input type="text" id="title" name="title" required><br><br>
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" required><br><br>
    <label for="publication_year">Publication year:</label>
    <input type="number" id="publication_year" name="publication_year" min="0" max="2100"><br><br>
    <select name="author_id" class="dropdown form-select" style="margin-bottom: 10px; width: 250px;" required>
      <option value="" disabled selected>Select author</option>
      {% for author in authors %}
      <option value="{{ author.id }}">{{ author.name }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Add">
  </form>

{% endblock %}
